title 
{
		font-family:30px;
		color:red;
		text-align:center;
		display:block;
}
student1
{
	display:block;
	text-align:center;
	display:block;
}
student2
{
	display:block;
	text-align:center;
	display:block;
}
student2
{
	display:block;
	text-align:center;
	display:block;
}
usn
{
	font-family:arial;
	font-size:20px;
	color:blue;
	text-align:center;
	display:block;
}
name
{
	font-family:arial;
	font-size:20px;
	color:green;	
	text-align:center;
	display:block;
}
email
{
	font-family:arial;
	font-size:20px;
	color:green;	
	text-align:center;
	display:block;
	
}
year
{
	font-family:arial;
	font-size:20px;
	color:green;
	text-align:center;
	display:block;
}
college
{
	font-family:arial;
	font-size:20px;
	color:green;
	text-align:center;
	display:block;	
}
branch
{
	font-family:arial;
	font-size:20px;
	color:yellow;
	text-align:center;	
	display:block;
}

	